html{
  scroll-behavior: smooth;
}
body{
  background: url("img/Black-and-red-striped-arrow-abstract_2880x1800.jpg") no-repeat;
  background-size: 3000px;
}

header {
 display: flex;
 align-items: center;
 justify-content: center;
  background-image: repeating-linear-gradient(darkred,red, darkred);
  margin-top: -10px;
   margin-left: 500px; 
  width: 900px;
  position:fixed
  }

header p{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-shadow:lightgrey 2px 2px;
 
  
}
.text1{
  animation: texto1 3s ease-in;
}
@keyframes texto1{
  from{
    transform: translateX(100px);
    opacity: 0;
  }
  to{
   transform: translateX(0);
   opacity: 1;
  }
}
#index{
   display: flex;
   align-content: center;
   justify-content: center;
   text-align: center;
  margin-bottom: 280px;
}
.tituloindex{
  
  font-family: 'Permanent Marker', cursive;
  font-size: 42px;
 margin:300px 0px 0px 0px;
 
 color:red;
  text-shadow: antiquewhite 1px 1px;
}
.meio1{
padding-right: 50px;
text-align:center;
font-family: 'KoHo', sans-serif;
color: antiquewhite;
font-size: 24px;
}

.container{
  display:flex;
    align-items:center;
 justify-content:center;
 margin-top: -10px;
 background-image: radial-gradient(darkred,red );
 position: fixed;
 margin-left: 540px;
 margin-top: 130px;
 border-radius: 10px;
 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
 
}

.container p{
  padding: 0px 50px;
    font-family: 'Permanent Marker', cursive;
  text-shadow:lightgrey 1px 1px;
  background-image: repeating-linear-gradient(darkred,red, darkred);
 color: antiquewhite;
}

#sobre{
  display: flex;
  padding: 50px 300px 230px 600px;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  margin-bottom: -280px;
}


#sobre img{
  border-radius: 50%;
  width: 120%;
  align-items: center;
  padding: 20px;
  
}

section{
  height: 590px;
}

.titulo{
  display: flexbox;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  padding-left: 100px;
 color:red;
  text-shadow: antiquewhite 1px 1px;
}
.meio{
padding-right: 300px;
padding-left: 90px;
text-align:justify;
font-family: 'KoHo', sans-serif;
color: antiquewhite;

}
.titulo1{
  
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
 align-items: center;
 margin-top: 200px;
   text-align: center;
  color:red;
  text-shadow: antiquewhite 1px 1px;
}
.titulo2{
  
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
 align-items: center;
 padding-top: 200px;
   text-align: center;
  color:red;
  text-shadow: antiquewhite 1px 1px;
}
.titulo3{
  
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
 align-items: center;
 margin-top: 220px; 
   text-align: center;
   color:red;
  text-shadow: antiquewhite 1px 1px;
 }
 #projetos{
   display: grid;
   align-items: center;
   justify-content: center;
   color: antiquewhite;
   margin-bottom: 270px;
   
 }
 #contato{
   display: grid;
   align-items: center;
   justify-content: center;
   color: antiquewhite;
   margin-bottom: 280px;
 }
 nav ul{
   display: flex;
   gap: 3em;
   list-style: none;
   width: 120px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
   
 }
 nav p{
  margin-top: -5px;
 color: antiquewhite;
 }

 a:link, a:visited {
   color: black;
   text-decoration: none;
 }
 a:hover{
   color: antiquewhite;
   text-shadow:darkred 2px 2px;
 }

 #diplomas {
   width: 880px;
   list-style: none;
   display: flex;
   margin:  10px 500px;
   text-align: center;
   
 }



footer{
  display: flex;
 align-items: center;
 justify-content: center;
  background-image: repeating-linear-gradient(darkred,red, darkred);
  margin-left: 500px;
  width: 900px;
  font-family: 'KoHo', sans-serif;
color: antiquewhite;
  margin-top: 275px;

}